<div class="container">
  <h1>New Task</h1>
  <%= form_with(model: @task, local: true) do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control"%>
    </div>

    <div>
      <%= form.label :details %>
      <%= form.text_field :details, class: "form-control" %>
    </div>

    <div>
      <%= form.label :completed %>
      <%= form.check_box :completed %>
    </div>

    <div>
      <%= form.submit 'Create task', class: 'btn btn-success mt-3' %>
    </div>
  <% end %>
</div>
